*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}

.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	background-color:rgb(94, 180, 226);
	z-index: 1;
}

/* about page */
#more {display: none;}

.about h1{
	text-align: center;
	margin-top: 10%;
	text-transform: uppercase;
}

.about .para{
	margin-top: 50px;
	width: 80%;
	text-align: justify;
}

.about .button{
	width: 100px;
	height: 30px;
	border-radius: 02px;
	border: none;
	background-color:#156088;
	color: white;
}

.about .button:hover{
	background-color:black;
	color: white;
}

/* service */
.jumbotron{
	margin-top: 10%;
	background-color:#458296;
	color: whitesmoke;
	font-weight: 600;
}

.jumbotron h3{
	text-align: center;
	margin: 20px 0 20px 0 ;
}

.jumb{
	width: 90%;
}

/* why AMC */
.why{
	margin-top: 10%;
	margin-bottom: 10%;
}

.why h3{
	margin-left: 80px;
	margin-bottom: 50px;
}

.why-point{
	margin: 0 80px 0 80px;
}

/* FOOTER */
footer{
	background-color: black;
	color: white;
}

.icon a{
	color: white;
	text-decoration: none;
}

footer a{
	text-decoration: none;
	color: white;
}

footer a:hover{
	color: #03b5d2;
}

footer hr{
	color: white;
}