*{
	margin: 0;
	padding: 0;
}

body{
	overflow-x: hidden;
}

.navbar{
	position: fixed;
	top: 0;
	width: 100%;
	background-color:rgb(94, 180, 226);
	z-index: 1;
}


/* FOOTER */
footer{
	background-color: black;
	color: white;
}

.icon a{
	color: white;
	text-decoration: none;
}

footer a{
	text-decoration: none;
	color: white;
}

footer a:hover{
	color: #03b5d2;
}

footer hr{
	color: white;
}